@use '../../global.scss' as *;

.home{

    position: relative;
    
    height: 2850px;
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}

@media (max-width:  1280px) {
    .home{
        
        height: 3608px;

    }
}


